/*ads center*/
.code_row {
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 11px;
    line-height: 18px;
    padding: 0 5px;
    font-weight: 600;
}

/*.pt_hotLand_home .item_ads .area {*/
.area {
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0;
}

.pt_hotLand_home, .item_ads, ._hot {
    background: #fffce6;
}

.pt_hotLand_home, .item_ads h3 {
    height: 40px;
    overflow: hidden;
    margin: 10px 0;
}

.pt_hotLand_home, .item_ads>p {
    line-height: 18px;
    height: 72px;
    overflow: hidden;
}

.item_ads>p {
    line-height: 18px;
    height: 72px;
    overflow: hidden;
}

.pt_hotLand_home, .item_ads h3 a {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    line-height: 20px;
    color: #055699;
    height:100%;
}

/*ads center*/

/*ads hp*/
.title_box strong, .title_boxM strong {
    border-bottom: 2px solid #e40b00;
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    margin-bottom: -1px;
    font-weight: 600;
    text-transform: uppercase;
}

.body_top2_box ._pt_vip_hot, .body_top2_box ._vip {
    background: -webkit-linear-gradient(#f6e97f, #fff);
    background: -o-linear-gradient(#f6e97f, #fff);
    background: -moz-linear-gradient(#f6e97f, #fff);
    /* background: linear-gradient(#f6e97f, #fff); */
}

.body_top2_box .top2 {
    border-bottom: 2px dotted #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.body_top2_box .top2 > div._pt_vip_hot {
    /*border: 2px solid #f00;*/
    height: 136px;
}

.body_top2_box .top2 .rtop2 p {
    font-size: 11.5px;
    font-weight: 600;
}

.body_top2_box .top2 .rtop2 p strong {
    font-weight: normal;
}

.body_top2_box .top2 .rtop2 p span {
    color: #e40b00;
    display: -webkit-inline-box;
    font-size: 12px;
}

.body_top2_box .top2 .rtop2 h3 span {
    width: 60px;
    /*display: inline-block;*/
    border-bottom: 3px solid #d3d3d3;
    /*margin-top: 5px;*/
}

.body_top2_box .top2 .ltop2 a {
    height: 130px;
    align-items: center;
    justify-content: center;
    background: #ddd;
    display: flex;
    display: -webkit-flex;
}

.body_top2_box .top2 .ltop2 a img {
    width: 100%;
    height: 100%;
}

.body_top2_box .top2 .rtop2 h3 a {
    color: #04578b;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    display: block;
    max-height: 36px;
    overflow: hidden;
}

.body_top2_box .top2 .rtop2 h3 {
    margin: 0 !important;
}

.gia-title strong {
    font-size: 14px;
    color: #319C00;
}

/*//colum3*/
.vip_box > div {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
}

.vip_box > div dl {
    /*padding: 14px;*/
    border-bottom: 2px dotted #ccc;
}

.vip_box > div dl dt {
    float: left;
    position: relative;
}

.vip_box > div dl dt a {
    display: block;
    width: 80px;
    height: 65px;
    margin-top: 4px;
}

.vip_box > div dl dd h3 a {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: 600;
    color: #04538b;
}

.vip_box > div dl dd h3 {
    margin: 0px !important;
}

.vip_box > div dl dd {
    margin-left: 90px;
}

.vip_box > div dl dt div {
    margin-top: 4px;
    text-align: center;
}

.pt_slider dl dt a img {
    width: 100%;
    height: 100%;
}

.top2 .pt_icon_viphot {
    position: absolute;
    top: 7px;
    left: 8px;
}

.vip_box>div dl dt div {
    margin-top: 4px;
    text-align: center;
}
/*//colum3*/