.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0;
    cursor:pointer;
    position:relative;
    line-height:0px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 20px;
    height: 20px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.8;
}
.nbs-flexisel-nav-left {background: url(button-previous.png) no-repeat;}
.nbs-flexisel-nav-right {background: url(button-next.png) no-repeat;}

.lander_home .nbs-flexisel-nav-left,
.lander_home .nbs-flexisel-nav-right {top: -53px !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.lander_home .nbs-flexisel-nav-left:hover,
.lander_home .nbs-flexisel-nav-right:hover {background-color: rgba(255,255,255,.3);}
.lander_home .nbs-flexisel-nav-left {right: 30px;}
.lander_home .nbs-flexisel-nav-right {right: 0px;}