:root {
    --blue-color: #1E9FF2;
}

html, body {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
}

img {
    max-width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.sub-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    /*background-color: #ddd;*/
    background-color: var(--blue-color);
    text-align: center;
    /*display: none;*/
    width: 100%;
    height: 45px;
    -webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
}

.menu-active-span {
    display: block;
    /*display: none;*/
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.ul-large {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 30px;
}

.ul-large li {
    list-style: none;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    padding: 10px 3px;
}

.ul-large li a {
    color: #FFFFFF;
    padding: 20px 3px;
    font-size: 1.1rem;
}

.ul-large li a:hover {
    text-decoration: none;
}

.ul-large li:hover {
    border-bottom: 3px solid #fff;
}

.menu-active {
    position: relative;
    /*background-color: #f90;*/
    /*background-color: #ff7e39;*/
    /*border-bottom: 5px solid #4dbb6d;*/
    border-bottom: 3px solid #fff;
}

.banner {
    padding: 0;
    margin-top: 39px;
    position: relative;
    /*background-image: url("../images/banner1.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*min-height: 400px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    /*justify-content: center;*/

    background: #88a0e1;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    display: inline-block;
}

.logo {
    display: inline-block;
    float: left;
    left: 10px;
    /*top: 0;*/
    /*position: absolute;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 5%;*/
}

.logo a {
    color: #333;
    cursor: pointer;
}

.logo img {
    max-height: 45px;
    padding: 2px 15px;
}

.header ul {
    display: inline-block;
    float: right;
    /*margin-right: 30px;*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.12);*/
    margin: 0;
    padding: 0;
}

.header li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.header li:hover {
    color: #4dbb6d;
}

.header a {
    color: #fff;
    font-size: 16px;
    transition: ease all 300ms;
    text-decoration: none;
    text-transform: uppercase;
}

.header a:hover {
    color: #4dbb6d;
}

.header-sm {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 111;
}

.owl-carousel-first {
    font-size: 16px;
    line-height: 32px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.slogan .owl-dots {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.icon-menu-sm {
    background-color: #4dbb6d;
    color: #fff;
    padding: 12px 20px;
    font-size: 30px;
    border-radius: 50%;
}

.content {
    height: 100%;
}

.first-section {
    /*height: 100%;*/
    margin-top: 65px;
    min-height: 100%;
    width: 100%;
    background: url('http://preview.oklerthemes.com/porto/5.7.2/img/demos/business-consulting/slides/slide-2.jpg') no-repeat;
    background-size: cover;
    padding: 0;
}

.slogan {
    margin-top: 100px;
    /*margin-left: 60px;*/
    /*position: absolute;*/
    color: #fff;
}

.left {
    /*width: 50%;*/
    /*display: inline-block;*/
    margin-top: 20px;
}

.right-1 {
    width: 40%;
    display: inline-block;
    margin-left: 70px;
}

.first-intro {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    /* position: absolute; */
    display: inline-block;
    width: 100%;
}

.item-contact {
    /*display: inline-block;*/
    /*width: 45%;*/
    border-left: 2px solid #4a8961;
    padding-left: 10px;
    margin-top: 20px;
}

.title-contact {
    color: #4dbb6d;
    font-size: 16px;
}

.content-contact {
    color: #fff;
    font-size: 16px;
}

section {
    padding: 5px 0px;
}

.intro, .product, .footer {
    /*background-color: #e9f0f5;*/
    background-color: #f9f9ff;
}

.service {
    background-color: #1B60A8;
}

.intro_1, .detail {
    background-color: #fff;
}

.footer li {
    list-style: none;
    padding: 3px 0px;
    border-bottom: 1px solid #ddd;
}

.footer a {
    color: #333;
}

.intro_home {
    background: url("../../images/contact-background.jpg") no-repeat center center;
    background-attachment: fixed;
    color: #ffffff;
    background-size: cover;
}

.caption {
    /*margin-top: -30px;*/
    /*margin-bottom: -30px;*/
    background-color: #313131;
}

.text-intro {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.title-section {
    color: #2e353e;
    font-size: 32px;
    font-weight: 700;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 10px;
    /*margin-bottom: 20px;*/
    /*border-bottom: 2px solid #4dbb6d;*/
}

.sub-title-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #777
}

/*.title-section::before{*/
/*border-top: 4px double #ccc;*/
/*content: "";*/
/*width: 100%;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 0;*/
/*}*/
.title-section h2 {
    color: #2e353e;
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    /*background-color: #fff;*/
    padding: 0px 10px;
}

.style {
    background-color: #fff;
}

.icon-style {
    font-size: 19px;
    height: 43px;
    width: 43px;
    margin: 3px;
    line-height: 49px;
    background-color: #fff;
    /* color: #fff; */
    color: #1B60A8;
    border: 1px solid #1B60A8;
    text-align: center;
    border-radius: 50%;

}

.title-item-style {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.item-style {
    text-align: center;
}

.content-item-style {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.icon-count {
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    background-color: #4dbb6d;
    height: 86px;
    width: 60px;
    text-align: center;
    line-height: 86px;
    color: #fff;
    border-radius: 5px;
}

.number-count {
    font-size: 50px;
    color: #4dbb6d;
    display: inline-block;
    vertical-align: middle;
}

.counter {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.des-count {
    display: block;
    font-size: 18px;
}

.item-count {
    margin-top: 30px;
}

.owl-carousel-intro .owl-dots {
    text-align: right;
    width: 100%;
    margin-top: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: -40px;
}

.owl-dot {
    border-radius: 50px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    background: #4dbb6d;
}

.title-slide {
    color: #4dbb6d;
    font-size: 26px;
    font-weight: bold;
}

blockquote {
    border-left: 5px solid #4dbb6d;
    background-color: #fff;
}

.owl-carousel {
    margin-top: 20px;
}

.product img {
    height: 150px;
}

/*.item-product {*/
/*margin-top: 30px;*/
/*text-align: center;*/
/*}*/
/*.item-product-name {*/
/*margin-top: 10px;*/
/*font-size: 18px;*/
/*color: #000;*/
/*}*/
/*.item-product:hover .item-product-hover{*/
/*display: block;*/
/*}*/
/*.item-product-hover {*/
/*position: absolute;*/
/*height: 150px;*/
/*width: calc(100% - 30px);*/
/*top: 0px;*/
/*background-color: rgba(0,0,0,0.4);*/
/*line-height: 200px;*/
/*cursor: pointer;*/
/*display: none;*/
/*}*/
.item-plus {
    font-size: 60px;
    color: #fff;
}

.modal-content {
    /*padding: 100px 0;*/
    /*min-height: 100%;*/
    /*border: 0;*/
    /*border-radius: 0;*/
    /*text-align: center;*/
    /*background-clip: border-box;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*background-color: #e9f0f5;*/
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.modal-title-recruit {
    font-size: 18px;
}

.nav-modal {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.nav-modal-active {
    border-bottom: 2px solid #4dbb6d;
    color: #4dbb6d;
}

.modal blockquote {
    margin-top: 50px;
    text-align: left;
}

.blockquote-reverse {
    text-align: right !important;
    border-right: 5px solid #4dbb6d;
}

blockquote span {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

#website-process {
    display: none;
}

.close-footer {
    margin-top: 50px;
}

.content-p {
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
}

.modal-nds {
    background-color: #fff;
    min-height: 100%;
}

.game-name {
    margin-top: 10px;
    display: block;
    font-size: 16px;
}

.download-game {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

.wrap-content-modal {
    margin-top: 50px;
}

#modal-mobile, #modal-nds, .modal {
    padding-right: 0px !important;
}

.icons {
    text-align: center;
    margin-top: 20px;
}

.icons i {
    font-size: 40px;
    height: 80px;
    width: 80px;
    margin: 10px;
    line-height: 80px;
    background-color: #4dbb6d;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.wrapper-recruitment {
    margin-top: 30px;
}

.title-recruitment {
    font-size: 20px;
    color: #000;
    text-align: center;
    border-bottom: 2px solid #4dbb6d;
    padding-bottom: 10px;
    margin-top: 30px;
}

.recruitment a {
    /*display: block;*/
    /*font-size: 16px;*/
    /*margin-top: 20px;*/
    /*color: #000;*/
    /*cursor: pointer;*/
}

.recruit-content {
    text-align: left;
}

.wrapper-post {
    margin-top: 20px;
}

.contact-footer input {
    margin: 20px 0px;
}

.contact-footer {
    background: url(../images/about_background.jpg) no-repeat;
    background-size: cover;
    color: #ddd;
    font-size: 17px;
}

.title-section-footer {
    color: #fff;
}

.item-contact-footer {
    margin-top: 20px;
}

.img-product {
    /*max-width: 300px;*/
    text-align: center;
    margin-bottom: 15px;
    max-width: 100%;
}

.item-news {
    /*margin-top: 20px;*/
    /*border-bottom: 1px dashed #CCC;*/
    /*padding-bottom: 10px;*/
    display: inline-block;
    width: 100%;
}

.img-news {
    /* max-width: 300px; */
    /* text-align: center; */
    /* margin-bottom: 15px; */
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.img-ads {
    /*max-width: 300px;*/
    /*text-align: center;*/
    /*margin-bottom: 15px;*/
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.img-news:hover .content-news {
    transform: translateY(0px);
}

.img-news:hover .title-news {
    opacity: 0;
}

.img-news img {
    /*height: 130px;*/
}

.title-news {
    font-size: 11px;
    color: red;
    /*font-weight: bold;*/
    /*display: -webkit-box;*/
    /*min-width: 200px;*/
    /*margin-left: 15px;*/
    position: absolute;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: var(--blue-color);
    width: 100%;
    opacity: 1;
    padding: 2px;
}

.content-news {
    /*display: -webkit-box; *!*/
    /* font-size: 14px; */
    /* margin-left: 15px; */
    /* color: #777; */
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,0.8);*/
    background: var(--blue-color);
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    color: #fff;
    padding: 5%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform: translateY(350px);
    -moz-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -o-transform: translateY(350px);
    transform: translateY(350px);
    text-align: center;
}

.content-news p, .content-news strong {
    color: #fff
}

.item-news-1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 2px;
    /*float: left;*/
}

.title-news-1, .content-news-1 {
    color: #333;
}

.btnRecruit {
    margin: 0px 6px;
}

.item-recruit {
    position: relative;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    padding: 5px;
}

.title-item-recruit {
    font-size: 16px;
    margin-top: 6px;
    font-weight: bold;
}

.item-recruit:hover .item-recruit-hover {
    display: block;
}

.item-recruit-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    /*text-align: center;*/
}

.group-btn-recruit {
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
    width: 100%;
}

.recruit-menu {
    margin: 0;
    padding: 0;
}

.recruit-menu li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.title-recruit {
    font-size: 18px;
    font-weight: bold;
    color: #4dbb6d;
    border-bottom: 1px dashed #4dbb6d;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.recruit-menu a {
    margin-top: 6px;
}

span.item-date {
    color: #333;
    font-size: 12px;
}

.error {
    color: red;
    font-weight: normal;
    padding-top: 6px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
    color: #4dbb6d;
}

.nav-small {
    display: none;
}

@keyframes showMenuRight {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

@keyframes hideMenuRight {
    0% {
        right: 0;
    }
    100% {
        right: -200px;
    }
}

.ul-sm {
    /*padding: 0;*/
    /*background-color: #fff;*/
    /*width: 150px;*/
    /*!*position: absolute;*!*/
    /*text-align: left;*/
    /*margin-left: -100px;*/
    /*margin-top: 5px;*/
    /*webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);*/
    /*!*display: none;*!*/

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 46px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
    /*right: -200px;*/
    /*animation-duration: 1s;*/
}

.ul-sm li {
    list-style: none;
    margin: 0;
    line-height: 30px;
    padding-left: 20px;
}

.ul-sm a {
    font-size: 15px;
}

.fanpage {
    /*background-color: #eee;*/
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    position: fixed;
    /*bottom: 190px;*/
    /*left: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
    transition: all 150ms linear;
}

.icon-contact:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .3);
}

.icon-contact .fa {
    color: #fff;
    font-size: 24px;
}

.icon-mail {
    bottom: 120px
}

.icon-zalo {
    bottom: 24px;
    right: 100px !important;
    background-image: url("../images/zalo.png");
    background-position: center;
    background-size: 90% 90%;
}

.icon-messenger {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*background-color: #666;*/
    width: 70px;
    height: 70px;
}

.detail-content {
    border-left: 1px solid #ddd;
    min-height: 350px;
    padding-left: 30px;
}

.left-title {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    padding-left: 0;
    font-weight: bold;
}

.short-border {
    width: 50px;
    height: 5px;
    background-color: #4dbb6d;
    margin-top: 5px;
}

.left-menu {

}

.left-menu ul li {
    list-style: none;
    transition: ease all 600ms;
    border-bottom: 1px solid #ededed;
}

.left-menu li a {
    color: #333;
    font-size: 13px;
    /*font-weight: bold;*/
    /*transition: ease all 300ms;*/
}

.left-menu li:hover {
    padding-left: 19px;
    border-left: 1px solid #5cb85c;
}

.left-menu .active {
    padding-left: 18px;
    border-left: 2px solid #5cb85c;
    font-weight: 700;
}

.left-menu li:hover a, .left-menu .active a {
    color: #5cb85c;
    text-decoration: none;
}

.detail-content li {
    /*list-style: none;*/
}

.detail-content li a {
    font-weight: bold;
}

.comments {
    margin-top: 20px;
}

.wrap-form-comment {
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 30px;
}

.title-form {
    font-size: 16px;
    padding: 15px;
}

.wrap-form-comment .btn {
    margin-left: 15px;
    margin-bottom: 15px;
}

.user-comment {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.detail-contact p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
}

@keyframes example {
    0% {
        top: 0px;
    }
    100% {
        top: 50px;
    }
}

.banner-left {
    /*line-height: 26px !important;*/
    /*padding: 5px 30px;*/
    /*background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0));*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0));*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 97px;
}

.caption-banner {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    animation-name: example;
    animation-duration: 4s;
}

.slogan-banner {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
}

.hotline {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin-top: 30px;
    text-align: center;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #555;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    /*background: #232323;*/
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    height: 3000px;
    margin: -100px 0 0 0;
    padding: 50px 0px;
    padding-top: 110px;
    right: -100px;

    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#menu li {
    padding: 10px 20px;
    font-size: 18px;
    text-align: right;
    width: 200px;
    border-bottom: 1px solid #ececec;
}

#menu li:hover {
    background-color: #efefef;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

#menu a {
    color: #666;
}

.intro-item {
    margin-top: 50px;
    float: left;
}

.intro-item h2 {
    color: #1B60A8;
}

.intro-text, .intro-img {
    /*justify-content: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

.intro-text h2 {
    font-weight: bold;
    color: #1B60A8;
}

.intro-text p {
    font-size: 16px;
    line-height: 26px;
}

.intro_1 .row {
    margin-top: 50px;
    /*margin-bottom: 40px;*/
    display: flex;
}

#myCarousel .image {
    /*float: left;*/
    /*width: 40%;*/
    /*height: 500px;*/
}

#myCarousel .text {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control span {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 46px !important;
    height: 40px !important;
    line-height: 40px;
    right: 16px !important;
}

.carousel-inner > .item.active, .carousel-inner > .item.next.left {
    margin: 0 !important;
}

.carousel-indicators li {
    border-color: #159C40;
}

.carousel-indicators .active {
    background-color: #159C40;
}


.carousel-caption {
    /*left: 0% !important;*/
    /*right: 0% !important;*/
    /*background: black !important;*/

    left: 0% !important;
    right: 0% !important;
    background: var(--blue-color) !important;
    bottom: 0%;
    text-align: left;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 2% !important;
}

.carousel-caption a {
    color: white !important;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

/*custom conntent glyphicon left and right*/
.glyphicon-chevron-left:before {
    content: "\e257";
}

.glyphicon-chevron-right:before {
    content: "\e258";
}

.item-agency {
    margin-bottom: 20px;
    padding-top: 70px;
    margin-top: -70px;
}

/*page up top*/
button#myPageup {
    padding: 13px !important;
}

#myPageup {
    display: none;
    position: fixed;
    bottom: 24px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #03a84e;
    color: white;
    cursor: pointer;
    /*padding: 15px;*/
    border-radius: 6px;
    width: 60px;
    height: 60px;
}

#myPageup:hover {
    /*background-color: #555;*/
}

/*page up top*/

/*language */
#language {
    float: right;
    line-height: 45px;
    margin-right: 20px
}

#language a {
    color: #fff !important;
    font-weight: bold;
}

#language img {
    display: inline !important;
    width: 24px;
    height: 16px;
    margin-right: 5px;
}

/*menu login ,register*/
.user_style .mdi-account-plus, .user_style .mdi-login {
    color: #e40b00 !important;
}

.user_style > a {
    color: #222 !important;
}

/*<!--Dropdown Menu inside a Navigation Bar-->*/
.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    /*background-color: #508fc6;*/
    background-color: #cfe5f7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333 !important;
    display: block;
    text-align: left;
    padding: 12px 16px !important;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.dropdown-content a:hover {
    background-color: #a2bfd9a8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*<!--Dropdown Menu inside a Navigation Bar-->*/

/*css footer*/
.icon-title {
    border-bottom: 1px solid var(--blue-color);
    margin-top: 0px;
}

.icon-title .bg {
    color: #fff;
    font-size: 14px;
    display: initial;
    padding: 10px 30px 2px 17px;
    line-height: 5px;
    width: 53px;
    /* height: 37px; */
    background-color: var(--blue-color);
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 169%, -10% -378%);

}
/*css footer*/